.page {
  flex: 7;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  padding: 10px;
  margin: 10px;
  height: 200px;
  transition: box-shadow 100ms ease-in-out,
              all 100ms ease-in-out;
}

.myroutines {
  flex-basis: 400px;
  height: 350px;
  padding: 0px;
}
.myroutines .card-header {
  margin: 10px 10px 4px 10px;
}

.myroutines .card-body {
  flex: 6;
  padding: 0px 10px 5px 10px;
}

.card:hover {
  box-shadow: 0px 3px 10px grey;
  transform: scale(1.1);
}

.card-header {
  flex: 1;
  text-align: center;
  border-bottom: 1px solid grey;
  color: grey;
}

.card-body {
  flex: 5;
  margin-top: 10px;
  overflow: auto;

  display: flex;
  flex-direction: column;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.delete-modal {
  backdrop-filter: none;
}

.modal > .contents {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 400px;
  height: 500px;
  background-color: beige;
  box-shadow: 1px 1px 15px black;
  border-radius: 4px;
}

.contents > label {
  flex: 1;
  font-size: 2.5em;
  font-family: monospace;
  text-align: center;
  font-weight: bold;
  
  padding: 35px;
  background-color: bisque;
  border-radius: 4px;
}

.new-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex: 10;
  padding: 20px;
}

.new-form input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 1.2;
  font-family: monospace;
  background-color: lightblue;
  box-shadow: 0px 0px 5px black;
  margin-bottom: 5px;
}

.new-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  font-family: monospace;
  background-color: lightblue;
  box-shadow: 0px 0px 5px black;
  margin-bottom: 5px;
}

.new-form input:focus[type="text"], textarea:focus {
  box-shadow: 0px 0px 5px 1px black inset;
}

.new-form input:invalid:required, textarea:invalid:required {
  border-right: 3px solid red;
  border-left: 3px solid red;
}

.new-form input:valid:required + h5 {
  display: none;
}

.new-form textarea:valid:required + h5 {
  display: none;
}

.new-form .buttons {
  align-self: flex-end;
  display: flex;
}

.buttons .cancel-button {
  margin-right: 10px;
}