.nav {
  flex: 1;
  background-color: beige;
  text-align: center;
  padding: 10px;
  min-width: fit-content;
  min-height: 100vh;
  /* max-width: 11%; */
}

.nav > form > input {
  display: block;
}

.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    box-sizing: content-box;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2em;
    background-color: bisque;
}

.nav-link {
    text-align: center;
    text-decoration: none;
}