.nav {
    position: relative;
    top: 20;
    left: 20;
    width: auto;
    height: auto;
    border: solid 1px black;
    box-sizing: content-box;
    background-color: beige;
    text-align: center;
    padding: 10px;
}

.nav > form > input {
  display: block;
}

.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    box-sizing: content-box;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2em;
    background-color: bisque;
}

.nav-link {
    text-align: center;
    text-decoration: none;
}