.myroutine-goal {
  flex: 1;
}

.myroutine-activity {
  flex: 1;
}

.card-footer {
  flex: 1;

  display: flex;
  /* justify-content: space-around; */
}

.card-footer button {
  flex: 1;
  border-radius: 0;

  padding: 0;
  font-size: 1.3em;
  font-weight: 600;
  color: gray;
  background-color: transparent;
  border-top: 1px solid gray;
}

.card-footer button:hover {
  box-shadow: none;
}

.edit, .flip {
  border-right: 1px solid gray;
}

.edit:hover, .flip:hover {
  color: black;
}

.card-footer > .delete:hover {
  background-color: red;
  color: black;
}

.card-footer > .delete:active {
  background-color: darkred;
}

.confirm-delete {
  background-color: beige;
  /* padding: 10px; */
}

.confirm-delete p {
  font-family: monospace;
  font-size: 1.2em;
  font-weight: bold;
  background-color: bisque;
  padding: 10px;
}

.confirm-delete button {
  /* margin-top: 20px; */
  float: right;
  width: 50px;
  margin: 10px 10px 10px 0px;
}