.page-head {
    display: fixed;
    align-items: center;
    justify-content: center;
}

.routines-page {
    display: fixed center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  
  }

.routine-card {
    display: fixed center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
  }

  .routine-header {
      text-decoration: underline;
  }
